<a href="https://colab.research.google.com/github/ryanqin/SC22-BatchC-GoldenGorillas/blob/main/Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tutorial


*References:*
1. https://docs.python.org/3/tutorial/
2. https://docs.python.org/3/library/
3. http://cs231n.github.io/python-numpy-tutorial/
4. https://github.com/donnemartin/data-science-ipython-notebooks

In [ ]:
print ('Hello Python3!')

# Python Basics

- Variables and Types
- Operators
- Containers
- Functions
- Control Flow

### Variables, Types, and Operators

In [ ]:
x = 3
print(x, type(x))

In [ ]:
print(x + 3)   # Addition
print(x - x)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 3)  # Exponentiation

In [ ]:
x += 1    # addition-assignment
x *= 2    # multiplication-assignment
print(x)  # Prints "8"

In [ ]:
y = 2.5
print(type(y))  # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

In [ ]:
t, f = True, False  # Note the Captilzation!
print(type(t))      # Prints "<class 'bool'>"

In [ ]:
print(t and f) # Logical AND
print(t or f)  # Logical OR
print(not t)   # Logical NOT
print(t != f)  # Logical XOR

In [ ]:
print(17 / 3)   # return float
print(17 // 3)  # return integer
print(17 % 3)   # modulo

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello)) # len gives you length of sequence

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)  # prints "hello world"

#### Exercise Q2.1

In [ ]:
# Exercise: float division
print(11.0 // 2.5)

#### Exercise Q2.2

In [ ]:
# Exercise: adding strings and numbers?
s = 'CS'
x = 334
print(f'{s}{x}')

You can find a list of all string methods in the [documentation](https://docs.python.org/3/library/string.html).

### Containers

Python includes several built-in container types: lists and dictionaries

In [ ]:
x = [1, 2, 3, 'a', 'b', 'c'] # Create a list
print(x[0])     # access by index
print(x[-1])    # index can be negative

In [ ]:
# modify item
x[0] = 100
print(x)

In [ ]:
# What happens is our index is too big?
x[6]

In [ ]:
x = [1, 2, 3, 'a', 'b', 'c'] + ['A', 'B', 'C'] # list append with the + operator
x

In [ ]:
x.append('element')
print(x)
print(x.pop(), x)
print('element' in x)

In [ ]:
# slice for index range, right exclusive
x = [1, 2, 3, 4, 5]
print(x[2:])
print(x[:3])
print(x[2:5])
x[2:5] = [-3, -4, -5]  # modify elements in list
print(x)

In [ ]:
# Common mistake: copying lists
first_list = [1,2,3]
second_list = first_list
second_list[2] = 100
print (first_list)
print (second_list)

In [ ]:
# Fixed: copying lists
first_list = [1,2,3]
second_list = first_list[:] # copy all the elements to the first list
second_list[2] = 100
print (first_list)
print (second_list)

In [ ]:
# Dictionaries
new_dct = {}
new_dct['hello'] = 'world!' # {"key" : "value"}
print(new_dct)              # prints the key and value
print(new_dct['hello'])     # prints the value corresponding to the key

#### Exercise Q2.3

In [ ]:
# Exercise: copying dictionaries
dct1 = {'hello': 'world!', 'it\'s!': 'me!'}
dct2 = dct1.copy()
dct2['it\'s!'] = 'you!'
print(dct1)
print(dct2)

### Functions

In [ ]:
def hours_and_minutes(minutes): # Define function, provide arguments
    n_hours = minutes // 60
    n_minutes = minutes % 60
    return n_hours, n_minutes

print(hours_and_minutes(181))
print(hours_and_minutes(72))

In [ ]:
print(n_minutes) # undefined since it is a local variable in the function

### Control Flow

Conditional statements and loops can purposefully control the order of code that is run

In [ ]:
# An example of an if-elif-else clause
day = 'Thursday'
if day == 'Tuesday' or day == 'Thursday':
    print('Time to Machine Learn!')
elif day in ['Saturday', 'Sunday']:
    print('The Weekend!')
else:
    print('Just Another Day :/')

In [ ]:
# Print 'Not there yet!' Until i gets to 10
i = 0
while i < 10:
    print('Not there yet!')
    i+= 1
print(i)

In [ ]:
# Looping through a container
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

In [ ]:
# Looping through a container with index
animals = ['cat', 'dog', 'monkey']
for idx in range(len(animals)):
    print(animals[idx])

In [ ]:
x = [1,2,3]
y = []
for item in x:
    y.append(item*item)
print(y)

In [ ]:
# List comprehension
x = [1, 2, 3]
y = [item*item for item in x]
print(y)

# Packages

- import modules
- numpy
- pandas
- matplotlib

In [ ]:
import math
print(math.sqrt(16))

from math import sqrt
print(sqrt(16))

import math as m
print(m.sqrt(16))

### NumPy

In [ ]:
import numpy as np

In [ ]:
x = np.array([1, 2, 3])
print(x.shape)
print(x)

In [ ]:
A = np.array([[1,0,0], [0,1,1]])
print(A.shape)
print(A)
print(A.T)

In [ ]:
print(x + 1)
print(x * 2)
print(x ** 2)

In [ ]:
print(x > 1)
print(x == 1)

In [ ]:
# dot product
print(x @ x)
print(np.dot(x, x))
print(x.dot(x))

In [ ]:
print(A @ x)
print(np.dot(A, x))
print(A.dot(x))

In [ ]:
print(np.sum(x))
print(np.mean(x))
print(np.std(x))

In [ ]:
print(np.sum(A, axis=0))
print(np.mean(A, axis=0))
print(np.std(A, axis=0))

#### Exercise Q3.1-Q3.2

In [ ]:
import numpy as np
rng = np.random.default_rng(334)
x1 = rng.random(4)
x2 = rng.integers(0, 20, size=(5,4))
x3 = rng.random((5,4,3))
x4 = rng.integers(0, 10, size=(5,4))

In [ ]:
# Q3.1 shape vs. size
print(x3.shape)
print(x2.shape)

In [ ]:
# Q3.2 Multiplication
print(x2 * x4)
print(x2 @ x1)

#### Exercise Q3.3

In [ ]:
# debug the following
import numpy as np
arr = np.array([1,2,3], dtype=np.float64)
arr[0] = 1.5  # trying to change 1 to 1.5
print(arr)

## Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([[1, 1, 'odd'], [2, 4, 'even'], [3, 9, 'odd'], [4, 16, 'even']], columns=['x', 'x^2', 'parity'])
df

In [ ]:
df[df['parity'] == 'odd']

In [ ]:
df[df['parity'] == 'odd']['x'].mean()

### Matplotlib

In [ ]:
import matplotlib.pylab as plt

In [ ]:
# Plotting lines
x = np.arange(5)
y = x ** 2
plt.plot(x, y)
plt.show()

In [ ]:
# Plotting multiple lines with color, marker, and line style specification and axis labels
x = np.linspace(0,1,10)
y1 = x ** 2
y2 = np.sin(x)

plt.plot(x, y1, 'ro:', label="parabola")
plt.plot(x, y2, 'gx--', label="sine")
plt.xlabel('some numbers')
plt.ylabel('some more numbers')
plt.legend()
plt.show()

In [ ]:
# Create sample data, add some noise, make a scatter plot
x = np.random.uniform(1, 1000, 1000)
y = np.log(x) + np.random.normal(0, .3, 1000)
plt.scatter(x, y, s=5)
plt.show()

## Exercise Q4
Download the iris_cs334.csv file from Canvas, and upload it using the file picker on the left.

In [ ]:
# Read in the file
df = pd.read_csv('iris_cs334.csv')

In [ ]:
df

In [ ]:
# Q4.1 Summary Statistics

# Median of petal length
## INSERT CODE HERE ##

# Mean of sepal width for Virginica
## INSERT CODE HERE ##

# Std of sepal length for Setosa
## INSERT CODE HERE ##

In [ ]:
# Q4.2 Scatterplot
## INSERT CODE HERE ##

In [ ]:
# Q4.3 Boxplot
## INSERT CODE HERE ##